##############################
## Mac OS
##############################
.DS_Store
**/.DS_Store
/.idea/

##############################
## VSCODE
##############################
/.vscode/

##############################
## Maven
##############################
target/
*/target/*

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Escalation Service Now
##############################
temp
**/clear-data.sh
